<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Bootstrap demo</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
  <script src="app.js"></script>
</head>

<body ng-app="MyApp" ng-controller="MyController">
  <div class="container">
    <div class="card card-body">
      <h1>Login Here</h1>
      <form ng-submit="checkUser()">
        <label for="Email" class="my-2">Email</label>
        <input type="text" id="Email" class="form-control" ng-model="email">
        <label for="Password" class="my-2">Password</label>
        <input type="text" id="Password" class="form-control" ng-model="password">
        <button type="submit" class="btn btn-dark my-2">Login</button>
      </form>
      <div ng-repeat="i in UsersList" ng-if="flag == 1">
        <div ng-if="i.Email == email && i.Password == password">
          <div ng-if="i.Role == 'staff'">
            <table class="table table-bordered">
              <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Role</th>
                <th>Password</th>
                <th>Email</th>
                <th>Designation</th>
                <th>Department</th>
                <th>Salary</th>
              </tr>
              <tr>
                <td>{{i.EmpID}}</td>
                <td>{{i.EmpName}}</td>
                <td>{{i.Role}}</td>
                <td>{{i.Password}}</td>
                <td>{{i.Email}}</td>
                <td>{{i.Designation}}</td>
                <td>{{i.EmpDept}}</td>
                <td>{{i.EmpSalary}}</td>
              </tr>
            </table>
          </div>
          <div ng-if="i.Role == 'admin'">

            <table class="table table-bordered">
              <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Role</th>
                <th>Password</th>
                <th>Email</th>
                <th>Designation</th>
                <th>Department</th>
                <th>Salary</th>
                <th>Action</th>
              </tr>
              <tr ng-repeat="j in UsersList">
                <td>{{j.EmpID}}</td>
                <td>{{j.EmpName}}</td>
                <td>{{j.Role}}</td>
                <td>{{j.Password}}</td>
                <td>{{j.Email}}</td>
                <td>{{j.Designation}}</td>
                <td>{{j.EmpDept}}</td>
                <td>{{j.EmpSalary}}</td>
                <td ng-if="j.Role == 'staff'">
                  <button class="btn btn-warning" ng-click="updateItem(j)" style="color:whitesmoke">Edit</button>
                </td>
              </tr>
            </table>

          </div>
        </div>
      </div>
      <h1>Enter Details</h1>
      <form ng-submit="addUser()">
        <input type="text" placeholder="EmpID" class="form-control" ng-model="newuserData.EmpID">
        <input type="text" placeholder="Employee Name" class="form-control" ng-model="newuserData.EmpName">
        <input type="text" placeholder="Role" class="form-control" ng-model="newuserData.Role">
        <input type="text" placeholder="Password" class="form-control" ng-model="newuserData.Password">
        <input type="text" placeholder="Email" class="form-control" ng-model="newuserData.Email">
        <input type="text" placeholder="Designation" class="form-control" ng-model="newuserData.Designation">
        <input type="text" placeholder="Department" class="form-control" ng-model="newuserData.EmpDept">
        <input type="text" placeholder="Salary" class="form-control" ng-model="newuserData.EmpSalary">

        <button type="submit" class="btn btn-dark my-2">Submit</button>
      </form>

    </div>
    <h3 class="text-center mt-2">Update User Details</h3>
    <form ng-show="edit" method="post" ng-submit="editItem(updatedItem)">
      <input type="text" class="form-control" placeholder="Enter User ID" ng-model="updatedItem.EmpID"
        ng-disabled="true">
      <input type="text" class="form-control" placeholder="Enter User Name" ng-model="updatedItem.EmpName">
      <input type="text" class="form-control" placeholder="Enter User Role" ng-model="updatedItem.Role">
      <input type="text" class="form-control" placeholder="Enter User Age" ng-model="updatedItem.Password">
      <input type="text" class="form-control" placeholder="Enter User Name" ng-model="updatedItem.Email">
      <input type="text" class="form-control" placeholder="Enter User Name" ng-model="updatedItem.Designation">
      <input type="text" class="form-control" placeholder="Enter User Name" ng-model="updatedItem.EmpDept">
      <input type="text" class="form-control" placeholder="Enter User Name" ng-model="updatedItem.EmpSalary">
      <button type="submit" value="Update User" class="btn btn-warning">Update User</button>
    </form>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>
</body>

</html>